body {
    .linija1,
    .linija2,
    .linija3,
    .linija4,
    .linija5 {
        background-color: #585858;
        position: absolute;
        height: 100%;
        width: 1px;
        z-index: 0;
        opacity: 0.06;
    }
    .linija1 {
        left: 10%;
    }
    .linija2 {
        left: 30%;
    }
    .linija3 {
        left: 50%;
    }
    .linija4 {
        left: 70%;
    }
    .linija5 {
        left: 90%;
    }
    .container {
        width: 90vw;
        margin: 0 auto;
        position: relative;
    }
}
