.hero {
    
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;


    &__img {
        width: 85%;
        max-width: 1018px;
        position: relative;
        left: 150px;
        max-height: 573px;
    }
    &__text {
        width: 25%;
        position: absolute;
        top: 250px;
        z-index: 4;
        background: radial-gradient(90deg, hsla(0,0%,100%,0),#fff 3%,hsla(0,0%,100%,0));
    }

    &__text-top {
        color: #5DA8EF;
        font-family: 'Lato', sans-serif; 
        margin-bottom: 25px;
        letter-spacing: 1px;
        font-weight: 700;
        font-size: rem(12);
    }
    &__text-middle {
        margin-top: 0;
        font-family: 'Playfair Display',sans-serif;
        color: #072933;
        font-size: 4.5em;
        line-height: 1.2em;
        font-weight: 700;
    }
    p {
    font-family: 'Lato',sans-serif;
    color: #363535;
    line-height: 2em;
    }
}

.quotes {
    text-align: center;
    max-width: 610px;
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;

    &__text {
        font-family: "Playfair Display", sans-serif;
        font-size: rem(24px);
        font-weight: 400;
        color: #333;
        line-height: 1.5em;
    }
    &__author {
        font-family: "Lato", sans-serif;
        color: #696969;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}